.friends-wraper{
    display: flex;
 
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
   


    & .bi{
        font-size: 2.2rem;
    }

    .friend{
        align-items: center;
        display: flex;

        gap: 1.7rem;
        position: relative;
        & button{
            position: absolute;
            right: 0;
            background: transparent;
            border: none;
            font-size:1.3rem;
            letter-spacing: 2px;
            color:blue;
            cursor: pointer;
        text-transform: capitalize;
      

        }
        & .active{
            background-color: #eee;
            color: gray;
           padding: 0.5rem 0.7rem;
        }
        & .friend-image{
            border: 2px solid green;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
}

& .frien-name{
    font-size: 1.5rem;
}
    }
}

 